# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. pandas
3. TensorFlow
4. Keras
5. SciPy

**Objectives:**

- List popular languages for Data Science.
- Introduce common libraries used in Data Science.
- Provide examples of evaluating arithmetic expressions in Python.

Data Science Tools |
------------------ |
Jupyter Notebook   |
RStudio            |
VS Code            |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [8]:
2+3

5

In [9]:
5+6

11

In [7]:
3*10

30

In [12]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [14]:
# This will convert 200 minutes to hours by diving by 60
200/60 #hours

3.3333333333333335

## Author
Arla B